body {
    background-image: url(../images/hazard.jpg);
}

.jumbotron {
    text-align: center;
    background-color: green;
    /* background-color: #272b30; */
    /* color: white;    */
    /* color: green; */
    /* color: rgb(238, 238, 4); */
}

h1 {
    float: center;
}

#image1 {
    height: 100px;
    width: 175px;
    float: left;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

#image2 {
    height: 100px;
    width: 175px;
    float: right;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}